@use "@edx/brand/paragon/fonts";
@use "@edx/brand/paragon/variables";
@use "@openedx/paragon/scss/core/core" as paragon;
@use "@edx/brand/paragon/overrides";

.action-card {
    border-radius: 0%;
    box-shadow: none;
    border-bottom: paragon.$gray-500 solid 1px;
    background-color: paragon.$light-200;
}