@use "@openedx/frontend-base/shell/app.scss";
@import "./certificates/certificates.scss";

html, body {
    overflow-x: hidden;
}

.toast-container {
    left: unset;
    right: var(--pgn-spacing-toast-container-gutter-lg);
}

.text-prewrap {
    white-space: pre-wrap;
}

.username .form-control::placeholder {
    font-size: var(--pgn-typography-form-input-font-size-sm);
}
